{% if sectionName is not defined %}
    {% set sectionName = 'none' %}
{% endif %}

<div class="btn-group queue">

    {% if sectionName == 'index' %}
        <span class="btn disabled btn-default" disabled="disabled">
            <i class="icon-home fa fa-home"></i> Dashboard
        </span>
    {% else %}
        <a href="{{ path('markup_admin_job_queue_index') }}" class="btn btn-default">
            <i class="icon-home fa fa-home"></i> Dashboard
        </a>
    {% endif %}

    {% if sectionName == 'failed' %}
        <span class="btn disabled btn-default" disabled="disabled">
            <i class="icon-exclamation fa fa-exclamation"></i> Failed Jobs
            {% if resque.failedJobs|length > 0 %}
                <span class="badge badge-info">
                    {{ resque.failedJobs|length }}
                </span>
            {% endif %}
        </span>
    {% else %}
        <a href="{{ path('markup_admin_job_queue_failed_list') }}" class="btn btn-default">
            <i class="icon-exclamation fa fa-exclamation"></i> Failed Jobs
            {% if resque.failedJobs|length > 0 %}
                <span class="badge badge-info">
                    {{ resque.failedJobs|length }}
                </span>
            {% endif %}
        </a>
    {% endif %}

    {% if sectionName == 'scheduled' %}
        <span class="btn disabled btn-default" disabled="disabled">
            <i class="icon-time fa fa-clock-o"></i> Scheduled Jobs
            {% if resque.numberOfDelayedJobs > 0 %}
                <span class="badge badge-info">
                    {{ resque.numberOfDelayedJobs }}
                </span>
            {% endif %}
        </span>
    {% else %}
        <a href="{{ path('markup_admin_job_queue_scheduled_list') }}" class="btn btn-default">
            <i class="icon-time fa fa-clock-o"></i> Scheduled Jobs
            {% if resque.numberOfDelayedJobs > 0 %}
                <span class="badge badge-info">
                    {{ resque.numberOfDelayedJobs }}
                </span>
            {% endif %}
        </a>
    {% endif %}

</div>

<div class="btn-group recurring">

    {% if sectionName == 'recurring' %}
        <span class="btn disabled btn-default" disabled="disabled">
            <i class="icon-ellipsis-horizontal fa fa-ellipsis-h"></i> Recurring Jobs
        </span>
    {% else %}
        <a href="{{ path('markup_admin_job_queue_recurring') }}" class="btn btn-default">
            <i class="icon-ellipsis-horizontal fa fa-ellipsis-h"></i> Recurring Jobs
        </a>
    {% endif %}

</div>
